.datePickerContainer {
	display: flex;
	width: 30rem;
	margin: 1rem;
	height: 5rem;
	justify-content: space-between;
}

.idLoader {
	width: 25% !important;
}

.locationSelect {
	width: 90%;
}

#startDate,
#endDate {
	display: flex;
	justify-content: space-between;
}

.titleContainer {
	display: flex;
	justify-content: center;
}

.LokalTable {
	width: 70%;
	margin: 1rem;
	min-height: 15rem;
}
.TableContainer {
	display: flex;
	justify-content: center;
	min-height: 15rem;
}

.buttonmulti {
	width: 6rem;
	height: 3rem;
}

.GridContainer {
	display: flex;
	justify-content: center;
}
.DataTable {
	width: 40%;
}

.tblButton {
	border-width: 1px;
	border-color: black;
}
.btn-secondary {
	background-color: white !important;
	color: black !important;
}
.btn-secondary :hover{
	background-color: rgb(168, 167, 167) !important;
	color: black !important;
}
.btn-outline-secondary :hover {
	color: aqua !important;
}

.DataGridButton {
	width: 8rem;
	height: 4rem;
}

/** För att se all CSS för sunEditorn följ länken
https://github.com/JiHong88/SunEditor/tree/master/src/assets/css */

.sun-editor-editable td,
.sun-editor-editable th,
.sun-editor-editable figure,
.sun-editor-editable figcaption,
.sun-editor-editable img,
.sun-editor-editable iframe,
.sun-editor-editable video,
.sun-editor-editable audio {
	position: fixed 0px 0px;
	left: 0;
	top: 0;
	z-index: 0;
}

/** video */
.sun-editor-editable .se-video-container iframe, .sun-editor-editable .se-video-container video {
	z-index: 0;
}

.sun-editor-editable[contenteditable="true"] figure a, .sun-editor-editable[contenteditable="true"] figure img, .sun-editor-editable[contenteditable="true"] figure iframe, .sun-editor-editable[contenteditable="true"] figure video {
	z-index: 0;
}

/* image */
.sun-editor-editable .se-image-container a img {
	z-index: 0;
}